python -m venv .venv
.venv\Scripts\activate
Set-Executionpolicy Unrestricted -Scope Process

pip install flask
pip install mysql-connector-python
pip install Brcypt
pip install flask_bcrypt
pip install flask_mail
pip install flask_cors